@*@model IEnumerable<InventorySystem.Models.Category>*@
@model PaginatedList<InventorySystem.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NormalLayout.cshtml";
}

<p>
    <i class="fas fa-plus text-primary"><a asp-action="Create"> เพิ่มข้อมูล</a></i>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="ค้นหา" class="btn btn-default" />
            @*<a asp-action="Index">กลับสู่เนื้อหาปกติ</a>*@
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Category_Name)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ชื่อประเภท</a>
            </th>
            <th>
                คำอธิบาย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category_Description)
                </td>
                @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Category_ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Category_ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Category_ID">Delete</a>
                    </td>*@
                <td>
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Edit", "Categories", new { id = item.Category_ID })'">
                        แก้ไข
                    </button>
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Details", "Categories", new { id = item.Category_ID })'">
                        รายละเอียด
                    </button>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Categories", new { id = item.Category_ID })'">
                        ลบข้อมูล
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    ก่อนหน้า
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    ถัดไป
</a>
<br />
<br />
<form method="post" asp-controller="Categories" asp-action="Export">
    <input type="submit" value="บันทึกเป็น Excel" class="btn btn-success" />
</form>