@model InventorySystem.Models.Supplier

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TextboxLayout.cshtml";
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier_Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier_Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier_Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier_Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier_Fax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier_Fax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier_Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Supplier_ID" class="btn btn-info">Edit</a>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Suppliers")'">
        กลับสู่หน้าหลัก
    </button>
</div>
